body{
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}


.space{
    margin-top: 40px;
    text-align: center;
    color: white;
}

.massagebox{
    top: 60%;
    left: 50%;
    background: black;
    border-radius: 20px;
    color: white;
   height: 450px;
   width: 350px;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
.image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
}
.massagebox input[type="text"],input[type="email"]{
    
    border: none;
    outline: none;
    background: none;
    border: 2px solid #3498db;
    border-radius: 30px;
    text-align: center;
    transition: 0.8s;
    color: white;
    width: 60%;
    margin: 15px 10px;
    font-size: 20px;
}

.massagebox input[type="text"]:hover,input[type="email"]:hover{
    border: none;
    outline: none;
    background: none;
    border: 3px solid rgb(5, 226, 5);
    border-radius: 30px;
    text-align: center;
    color: white;
    width: 80%;
    margin: 15px 10px;
    font-size: 20px;

}
.left{
    text-align: center;
}

.left h2{ 
    margin-left: 34px;
    margin-bottom: 20px;
    margin-top: 5px; 
    border-bottom: 3px solid rgb(5, 226, 5);
    width: 80%;
    
}
.btn{
    border: none;
    outline: none;
    background: none;
    border: 3px solid rgb(5, 226, 5);
    border-radius: 30px;
    text-align: center;
    color: white;
    width: 80%;
    margin: 15px 10px;
    font-size: 20px;
}
.btn:hover{
    background-color: rgb(5, 226, 5);
    color: white;
}
.form-control{
    background: none;
    outline: none;
    border: none;
    border: 2px solid rgb(5, 226, 5);
    width: 90%;
    background: transparent;
    color: white;
}